#container{
    margin-top: 4em;
}
ion-content{
    --background: url("../../../assets/bg/ice2.jpeg");
}

.btncolor {
    --background: #f2ec40;
    --color: black;
  }
  
.title, .main-title{
    font-family: "bebas nue";
}
.article-title{
    font-family: "bebas nue";
    font-size: 15px;
}
.pd-10{
    padding: 10px;
}
.article-subtitle{
    font-size: 10px;
}
.elips-3{
overflow: hidden;
text-overflow: ellipsis;
line-clamp: 3;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.elips-1{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
line-clamp: 1;
}
.pd-none{
padding: 0!important;
}
.m-none{
    margin: 0!important
}
.swiper-slide img {
    width: 95%;
    height: 250px;
}
.swiper-pagination-bullet {
    background: #252525!important;
}