.icon-app
{
    width: 30px;
    height: auto;
}
.logo-title{
    color:#f1ec40
}

:host(.ion-color) .toolbar-background{
    background: red!important;
}
#ice-bg{
    background:url("../../../assets/bg/ice3.jpeg") #6930304a;
}
.new-background-color{
    --background: #54d61c;
}