<!-- <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  <ion-title class="title" slot="start">Hocky</ion-title>
</ion-toolbar> -->
<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <img class="icon-app" src="/assets/icon/icon-notag.jpg">
      </ion-button>
    </ion-buttons>
  
    <ion-title class="logo-title ">Hockey</ion-title>
  </ion-toolbar>
</ion-header> -->

