#container{
    margin-top: 4em;
}
.title{
    font-family: "bebas nue";
    color: #f1ec40;
    text-shadow: 0 0 10px black;
    font-size: 3.5em;
    margin: 0;
}
.article-title{
    font-family: "bebas nue";
    font-size: 15px;
}
.dd-border-black{
    border: double 5px #f1ec40;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    background: #00000025;
}
.pd-10{
    padding: 10px;
}
.article-subtitle{
    font-size: 10px;
}
.elips-3{
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.elips-1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
}
.hero-img{
    height: 120px!important;
    width: 100%!important;
}
.gd-ice{
    background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgb(169 181 203) 100%);
}
.team-logo{
    height: auto;
    width: 100px;

}
.btncolor {
    --background: #f2ec40;
    --color: black;
}
@media only screen and (max-width:360px){
    .hero-img{
        height: 100px!important;
        width: 100%!important;
    }
}

@media only screen and (max-width:320px){
    .hero-img{
        height: 90px!important;
        width: 100%!important;
    }
}

ion-content{
    --background: url("../../../assets/bg/ice2.jpeg");
}
  