
<ion-content >
        <div class="text-center">
          <div class="box-holder mt-2">
            <div class="row"> 
              <div class="col-2"></div>
              <div class="col-8">
                  <div class="dd-border-black"> <h1 class="title">{{ newsDatas.header }}</h1></div>
              </div>
              <div class="col-2"></div>

            </div>
          </div>
        </div>
        <div class="row">
            <div *ngFor="let news of newsDatas.articles; index as i" class="col-md-6 col-6">
                <ion-card (click)="routeViewT(i)">
                    <img class="hero-img" src="{{ news.images[0].url}}" />
                    <ion-card-header class="pd-10 gd-ice">
                      <ion-card-subtitle class="article-subtitle elips-1"><ion-icon name="camera-outline"></ion-icon> {{ news.images[0].credit | titlecase}}</ion-card-subtitle>
                      <ion-card-title class="article-title elips-3">{{ news.headline}} </ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </div>
        </div>
</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-grid class="bg-dark">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="6" class="text-center">
          <ion-button (click)="backClicked()" class="btncolor">
            <ion-icon name="ellipse-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>