<app-header></app-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
   

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teams">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="score">
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Scores</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>