
<ion-app>
  <ion-menu side="start" content-id="main-content"  >
      <ion-grid class="bs-dark">
        <ion-row class="text-center">
          <ion-col size="12">
            <img src="../../assets/icon/newlogo.png">
          </ion-col>
          <ion-col (click)="naviPage('home/news')" size="12">
           <ion-menu-toggle><ion-label>News</ion-label></ion-menu-toggle> 
          </ion-col>
          <ion-menu-toggle></ion-menu-toggle>
          <ion-col (click)="naviPage('home/teams')" size="12">
            <ion-menu-toggle><ion-label>Teams</ion-label></ion-menu-toggle>
          </ion-col>
          <ion-menu-toggle></ion-menu-toggle>
          <ion-col (click)="naviPage('home/score')" size="12">
            <ion-menu-toggle><ion-label>Score</ion-label></ion-menu-toggle>
          </ion-col>
          <ion-col (click)="updateData()" size="12">
            <ion-menu-toggle><ion-label>Sync/Update</ion-label></ion-menu-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
        <!-- <ion-item (click)="naviPage('home/news')">
        </ion-item>
        <ion-item (click)="naviPage('home/teams')">
          <ion-label>Teams</ion-label>
        </ion-item>
         -->
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons    slot="end">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title>Fastbreak Hockey</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>